<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body th:class="${not minimalUI} ? body-ui : ''">
<div class="container view-section" th:classappend="${not minimalUI} ? view-section-ui : ''">
    <div class="view-section-input">
        <h1 class="overall-title">An error occurred</h1>
        <div class="error-details">
            <span th:text="${errorMessage}">Message</span>
        </div>
    </div>
</div>
</body>
</html>
