<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:replace="~{fragments/common :: header}">Validator</title>
    <link rel="stylesheet" th:href="@{/css/style-shacl-min.css}"/>
    <script th:src="@{/webjars/codemirror/5.62.2/mode/xml/xml.js}"></script>
    <script th:src="@{/js/lib/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload-shacl-min.js}"></script>
    <script th:attr="nonce=${nonce}" th:inline="javascript">
		var supportQuery = [[${config.isSupportsQueries()}]];
		var supportQueryEndpoint = [[${config.isSupportsQueries() && config.queryEndpoint == null}]];
		var queryCredentialsMandatory = [[${config.isQueryAuthenticationMandatory()}]];
		var supportQueryCredentials = [[${config.supportsQueryCredentials()}]];
		var labelOptionContentQuery = [[${localiser.localise('validator.label.optionContentQuery')}]];
		var labelQueryEndpointInputPlaceholder = [[${localiser.localise('validator.label.queryEndpointInputPlaceholder')}]];
		var labelQueryUsernameInputPlaceholder = [[${localiser.localise('validator.label.queryUsernameInputPlaceholder')}]];
		var labelQueryPasswordInputPlaceholder = [[${localiser.localise('validator.label.queryPasswordInputPlaceholder')}]];
		var labelQueryAuthenticateLabel = [[${localiser.localise('validator.label.queryAuthenticateLabel')}]];
        var labelDownloadErrorMessage = [[${localiser.localise('validator.label.exception.downloadError')}]];
        var labelContextSyntaxDefault = [[${localiser.localise('validator.label.contentSyntaxDefault')}]];
		var externalArtifacts = {};
		var loadImportsArtifacts = {};
		[# th:each="artifactInfoEntry : ${externalArtifactInfo}"]
			externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
			[# th:each="artifactTypeInfoEntry : ${artifactInfoEntry.value}"]
				externalArtifacts[[# th:text="${artifactInfoEntry.key}" /]][[# th:text="${artifactTypeInfoEntry.key}" /]] = [# th:text="${artifactTypeInfoEntry.value}" /];
			[/]
		[/]
		[# th:each="artifactInfoEntry : ${loadImportsInfo}"]
			loadImportsArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = {}
			loadImportsArtifacts[[# th:text="${artifactInfoEntry.key}" /]] = [# th:text="${artifactInfoEntry.value}" /];
		[/]
		configure({
			externalArtifactFileLabel: [[${localiser.localise('validator.label.optionContentFile')}]],
			externalArtifactURILabel: [[${localiser.localise('validator.label.optionContentURI')}]],
			codeTypeObj: "xml",
			isMinimalUI: [[${minimalUI}]],
			artifactTypes: ['default'],
			externalArtifacts: externalArtifacts,
            labels: [(${labelConfig})],
			reportTemplate: 'reportShacl.hbs',
			reportMinimalTemplate: 'reportMinimalShacl.hbs'
		});
    </script>
</head>
<body th:class="${not minimalUI} ? body-ui : ''">
    <div th:classappend="${not minimalUI} ? view-section-ui : ''" class="container view-section">
        <div class="view-section-input" th:classappend="${minimalUI} ? 'minimal-ui' : 'normal-ui'" th:if="${!minimalUI || report == null}">
            <div th:replace="~{fragments/input :: pageHeader(${config}, ${minimalUI})}"/>
            <form method="POST" enctype="multipart/form-data" th:action="@{${not minimalUI ? 'upload' : 'uploadm'}}" class="form-horizontal" th:fragment="form">
                <div th:class="${minimalUI} ? panel-default : ''" th:classappend="${minimalUI} ? panel : ''">
                    <div th:replace="~{fragments/input :: formHeader(${config}, ${minimalUI})}"/>
                    <div th:class="${minimalUI}?'panel-body panel-body-minimal':''">
                        <div th:replace="~{fragments/input :: mainForm(${config})}"/>
                        <div id="contentSyntaxTypeDiv" class="form-group">
                            <label for="contentSyntaxType" class="col-sm-2 control-label"><span th:text="${localiser.localise('validator.label.contentSyntaxLabel')}">Content syntax of the input</span><span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.contentSyntaxTooltip')}"> <i class="far fa-question-circle"></i></span></label>
                            <div class="col-sm-3">
                                <select class="form-control" id="contentSyntaxType" name="contentSyntaxType">
                                    <option value="empty" selected="true" th:text="${localiser.localise('validator.label.contentSyntaxDefault')}"></option>
                                    <option th:each="type : ${contentSyntax}" th:text="${type.key}" th:attr="value=${type.label}">Type</option>
                                </select>
                            </div>
                        </div>
                        <div th:replace="~{fragments/input :: externalArtifactCheck(${localiser.localise('validator.label.includeExternalShapes')}, ${localiser.localise('validator.label.externalRulesTooltip')})}"/>
                        <div th:replace="~{fragments/input :: externalArtifactControl('default', ${localiser.localise('validator.label.externalShapesLabel')})}"/>
                        <div id="loadImportsDiv" class="form-group hidden">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" id="loadImportsCheck" name="loadImportsCheck" /><span th:text="${localiser.localise('validator.label.loadImportsLabel')}">Load imports</span>
                                    </label>
                                    <span data-toggle="tooltip" data-container="body" data-placement="right" th:attr="title=${localiser.localise('validator.label.loadImportsTooltip')}"><i class="far fa-question-circle"></i></span>
                                </div>
                            </div>
                        </div>
                        <div th:replace="~{fragments/input :: submit(${config}, ${minimalUI})}"/>
                    </div>
                    <div th:if="${minimalUI}" id="reportPlaceholder"></div>
                </div>
            </form>
        </div>
        <th:block th:if="${!minimalUI}">
            <div id="reportPlaceholder"></div>
            <div th:replace="~{fragments/common :: localeSelector(${config}, ${localiser.getLocale()})}"/>
        </th:block>
        <div th:replace="~{fragments/common :: footer(${config}, ${minimalUI})}"/>
    </div>
    <div th:replace="~{fragments/common :: about}">About</div>
    <div th:replace="~{fragments/common :: buildInfo}">Build info</div>
</body>
</html>
