<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${config.uploadTitle}">Validator</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/codemirror/5.11/lib/codemirror.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/webjars/codemirror/5.11/lib/codemirror.js}"></script>
    <script th:src="@{/webjars/codemirror/5.11/mode/xml/xml.js}"></script>
    <script th:src="@{/js/lib/busy.js}"></script>
    <script th:src="@{/js/lib/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload.js}"></script>
    <script th:if="${report}" th:src="@{/js/itb-results.js}"></script>
    <script th:if="${report}" th:inline="text">
    /*<![CDATA[*/
        getReportData("[[${xmlID}]]");
    /*]]>*/
    </script>
</head>
<body>
<div class="container view-section">
    <div class="view-section-input">
        <h2 class="view-section-title" th:text="${config.label.inputSectionTitle}">Validation input</h2>
        <div class="alert alert-danger" th:if="${message}" th:text="${message}">A message</div>
        <div th:replace="${!validationTypes.isEmpty()}? 'fragments/multipleTypes':'fragments/singleType' :: form">Upload form</div>
    </div>
    <div th:if="${report}" class="view-section-result">
        <h2 class="view-section-title" th:text="${config.label.resultSectionTitle}">Validation result</h2>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${config.label.resultSubSectionOverviewTitle}">Overview</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultDateLabel}">Date:</label>
                    <div class="col-xs-4" th:text="${report.date}">17/12/2016</div>
                </div>
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultFileNameLabel}">File name:</label>
                    <div class="col-xs-4" th:text="${fileName}">file.xml</div>
                </div>
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultResultLabel}">Result:</label>
                    <div class="col-xs-4" th:text="${report.result}">Success</div>
                </div>
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultErrorsLabel}">Errors:</label>
                    <div class="col-xs-4" th:text="${report.counters.nrOfErrors}">0</div>
                </div>
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultWarningsLabel}">Warnings:</label>
                    <div class="col-xs-4" th:text="${report.counters.nrOfWarnings}">0</div>
                </div>
                <div class="row">
                    <label class="col-xs-2 control-label" th:text="${config.label.resultMessagesLabel}">Messages:</label>
                    <div class="col-xs-4" th:text="${report.counters.nrOfAssertions}">0</div>
                </div>
                <div class="row overview-button-row">
                    <div class="col-xs-12">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" id="viewInputButton" onclick="setCode()" disabled="true" th:text="${config.label.viewAnnotatedInputButton}">View annotated input</button>
                            <button type="button" class="btn btn-default" id="downloadReportButtonXML" onclick="downloadReportXML()" disabled="true" th:text="${config.label.downloadXMLReportButton}">Download XML report</button>
                            <button type="button" class="btn btn-default" id="downloadReportButtonPDF" onclick="downloadReportPDF()" disabled="true" th:text="${config.label.downloadPDFReportButton}">Download PDF report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="${config.label.resultSubSectionDetailsTitle}">Details</h3>
            </div>
            <div class="panel-body">
                <div class="report-item-container">
                    <div class="row report-item" th:each="item : ${report.reports.infoOrWarningOrError}" th:classappend="${'report-item-' + item.name.localPart}" onclick="setCode(this)">
                        <div class="col-xs-12 item-info">
                            <div th:switch="${item.name.localPart}">
                                <i th:case="'error'" class="fa fa-times-circle report-item-icon error-icon item-info-error"></i>
                                <i th:case="'warning'" class="fa fa-exclamation-triangle report-item-icon warning-icon item-info-warning"></i>
                                <i th:case="'info'" class="fa fa-info-circle report-item-icon info-icon item-info-info"></i>
                                <span th:text="${item.value.description}" class="item-info-text">Description</span>
                                <span style="visibility: hidden" th:text="${item.value.location}" class="item-info-location">XML:0:0</span>
                            </div>
                        </div>
                        <div class="col-xs-12 report-item-test" th:if="${item.value.test != null}"><span class="report-item-test-label" th:text="${config.label.resultTestLabel}">Test:</span><span th:text="${item.value.test}">Test</span></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade xml-content-modal" id="xml-content-modal" role="dialog" aria-labelledby="xmlDialog">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="btn btn-primary popup-close" data-dismiss="modal" aria-label="Close" th:text="${config.label.popupCloseButton}">Close</button>
                        <h4 class="modal-title" id="xmlContentTitle" th:text="${config.label.popupTitle}">XML content</h4>
                    </div>
                    <div id="xml-content-pane" class="modal-body">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container about-section" th:if="${config.showAbout}">
    This service is powered by the ISA&sup2; Interoperability Test Bed, a conformance testing service offered by the European Commission's DG DIGIT for projects
    involved in the delivery of cross-border public services. Find out more <a href="https://joinup.ec.europa.eu/solution/interoperability-test-bed" target="_blank">here</a>.
</div>
<div style="display: none;">
    <div id="build.version" th:text="${@environment.getProperty('validator.buildVersion')}">buildVersion</div>
    <div id="build.timestamp" th:text="${@environment.getProperty('validator.buildTimestamp')}">buildTimestamp</div>
    <div id="startup.timestamp" th:text="${appConfig.startupTimestamp}">startupTimestamp</div>
    <div id="resource.timestamp" th:text="${appConfig.resourceUpdateTimestamp}">resourceTimestamp</div>
</div>
</body>
</html>
