<div class="view-section-result">
    {{> reportTitle.hbs }}
    <div class="panel-default panel">
        {{> reportHeader.hbs }}
        {{> reportSummary.hbs }}
        {{> reportControlsShacl.hbs }}
    </div>
    {{> reportDetails.hbs clickableItems=false includeInputModal=false }}
</div>