<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/busy.js}"></script>
    <script th:src="@{/js/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload.js}"></script>
</head>
<body>
<div class="container view-section">
    <div class="view-section-input">
        <form method="POST" enctype="multipart/form-data" th:action="@{upload}" class="form-horizontal" th:fragment="form">
            <div class="form-group">
                <label for="fileToValidate" class="col-sm-2 control-label" th:text="${config.label.fileInputLabel}">File to validate</label>
                <div class="col-sm-10">
                    <div class="input-group" id="fileToValidate">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="triggerFileUpload()"><i class="fa fa-folder-open-o"></i></button>
                        </div>
                        <input type="text" id="inputFileName" class="form-control" th:placeholder="${config.label.fileInputPlaceholder}" onclick="triggerFileUpload()" readonly="readonly"/>
                    </div>
                    <input type="file" id="inputFile" name="file" onchange="fileInputChanged()"/>
                </div>
            </div>
            <div class="form-group">
                <label for="validationType" class="col-sm-2 control-label" th:text="${config.label.typeLabel}">Validate as</label>
                <div class="col-sm-10">
                    <select class="form-control" id="validationType" onchange="validationTypeChanged()" name="validationType">
                        <option value="" selected="true" disabled="true"></option>
                        <option th:each="type : ${validationTypes}" th:text="${type.label}" th:attr="value=${type.key}">Type</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="inputFileSubmit" class="btn btn-primary" disabled="true" onclick="uploadFile()" th:text="${config.label.uploadButton}">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
