<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/4.5.0/css/font-awesome.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/2.0.3/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/lib/busy.js}"></script>
    <script th:src="@{/js/lib/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload.js}"></script>
</head>
<body>
<div class="container view-section">
    <div class="view-section-input">
        <form method="POST" enctype="multipart/form-data" th:action="@{upload}" class="form-horizontal" th:fragment="form">
            <div class="form-group">
                <label for="fileToValidate" class="col-sm-2 control-label" th:text="${config.label.fileInputLabel}">File to validate</label>
                <div class="col-sm-10">
                    <div class="input-group" id="fileToValidate">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="button" onclick="triggerFileUpload()"><i class="fa fa-folder-open-o"></i></button>
                        </div>
                        <input type="text" id="inputFileName" class="form-control" th:placeholder="${config.label.fileInputPlaceholder}" onclick="triggerFileUpload()" readonly="readonly"/>
                    </div>
                    <input type="file" id="inputFile" name="file" onchange="fileInputChanged()"/>
                </div>
            </div>
            <div class="form-group">
                <label for="contentSyntaxType" class="col-sm-2 control-label" th:text="${config.label.contentSyntaxLabel}">Content syntax of the input</label>
                <div class="col-sm-10">
                    <select class="form-control" id="contentSyntaxType" name="contentSyntaxType">
                        <option value="" selected="true" disabled="true"></option>
                        <option th:each="type : ${contentSyntax}" th:text="${type.key}" th:attr="value=${type.label}">Type</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group" th:if="${externalShapes}" th:fragment="externalRules_list">
                <div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
					    <label>
					        <input type="checkbox" id="externalRulesCheck" onclick="toggleExternalShapesClassCheck()"> Include external shapes
					    </label>
					</div>
				</div>
            </div>
            <div class="form-group externalShapesClass">
                <label for="externalShapeAddButton" class="col-sm-2 control-label">External shapes</label>
                <div class="col-sm-10" id="externalShapeDiv">
                    <button id="externalShapeAddButton" class="btn btn-default" type="button" onclick="addExternalShapes()"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="inputFileSubmit" class="btn btn-primary" disabled="true" onclick="uploadFile()" th:text="${config.label.uploadButton}">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
