<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/5.7.2/css/all.min.css}"/>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/lib/busy.js}"></script>
    <script th:src="@{/js/lib/FileSaver.min.js}"></script>
    <script th:src="@{/js/itb-upload.js}"></script>
</head>
<body>
<div class="container view-section">
    <div class="view-section-input">
        <form method="POST" enctype="multipart/form-data" th:action="@{upload}" class="form-horizontal" th:fragment="form">
            <div class="form-group">
                <label for="fileToValidate" class="col-sm-2 control-label" th:text="${config.label.fileInputLabel}">Content to validate</label>
                <div class="col-sm-2">
                	<select class="form-control" id="contentType" name="contentType" onchange="contentTypeChanged()">
                		<option th:each="type : ${contentType}" th:text="${type.label}" th:attr="value=${type.key}">Type</option>
	                </select>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-sm-12" id="fileToValidate">
                            <div class='input-group'>
                                <div class="input-group-btn">
                                    <button class="btn btn-default" type="button" onclick="triggerFileUpload()"><i class="far fa-folder-open"></i></button>
                                </div>
                                <input type="text" id="inputFileName" class="form-control" th:placeholder="${config.label.fileInputPlaceholder}" onclick="triggerFileUpload()" readonly="readonly"/>
                            </div>
                        </div>
                        <input type="file" class="inputFile" id="inputFile" name="file" onchange="fileInputChanged()"/>
                        <div class="col-sm-12 hidden" id="uriToValidate">
                            <input type="url" class="form-control" id="uri" name="uri" onchange="fileInputChanged()">
                        </div>
                        <div class="col-sm-12 hidden" id="stringToValidate">
                            <textarea id="text-editor" name="text-editor" class="form-control" rows="10" onchange="fileInputChanged()"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2" align="right">
	                <label for="contentSyntaxType" class="control-label" th:text="${config.label.contentSyntaxLabel}">Content syntax of the input</label>
	                <span data-toggle="tooltip" data-container="body" data-placement="right" title="Specifying the content syntax for a file or URI is optional"><i class="far fa-question-circle"></i></span>
                </div>

                <div class="col-sm-3">
                    <select class="form-control" id="contentSyntaxType" name="contentSyntaxType" onchange="contentSyntaxChanged()">
                        <option value="" selected="true"></option>
                        <option th:each="type : ${contentSyntax}" th:text="${type.key}" th:attr="value=${type.label}">Type</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group" th:if="${externalShapes}" th:fragment="externalRules_list">
                <div class="col-sm-offset-2 col-sm-10">
					<div class="checkbox">
					    <label>
					        <input type="checkbox" id="externalRulesCheck" onclick="toggleExternalShapesClassCheck()"> Include external shapes
					    </label>
						<span data-toggle="tooltip" data-container="body" data-placement="right" title="Include additional shapes to be considered for the validation"><i class="far fa-question-circle"></i></span>
                    </div>
				</div>
            </div>
            <div class="form-group externalShapesClass">
                <label for="externalShapeAddButton" class="col-sm-2 control-label">External shapes</label>
                <div class="col-sm-10" id="externalShapeDiv">
                    <button id="externalShapeAddButton" class="btn btn-default" type="button" onclick="addExternalShapes()"><i class="fas fa-plus"></i></button>
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="inputFileSubmit" class="btn btn-primary" disabled="true" onclick="uploadFile()" th:text="${config.label.uploadButton}">Upload</button>
                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>
